:root {
    --eggshell: #F2F2F2;
    --ekho_blue: #018CCF;
    --ekho_orange: #FDB414;
    --ekho_gray: #4C4D4F;
}

.main-block {
    width: 100%;
    background: url(../img/roadtrip.jpg) center center no-repeat;
    background-size: cover;
    color: var(--eggshell);
    text-align: center;
}

.main-block h1 {
    margin: 0 auto;
    position: relative;
    top: 100px;
}

.navbar {
    margin-bottom: 0 !important;
}

/* Large */
@media only screen and (min-width: 992px) {
    
}

/* Medium */
@media only screen and (max-width: 992px) {
    
}

/* Small */
@media only screen and (max-width: 768px) {
    
}

/* Extra Small */
@media only screen and (max-width: 576px) {

}